@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* { 
margin: 0; 
padding: 0;
font-family: 'Montserrat', sans-serif;
}


body{
    height: 100vh;
}
.containercentral{   
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

#info-curso{
    background-color: transparent;
    color: #0026c5;
    border-color: #0026c5;
    width: 20rem;
    border-width: 0.3rem;
    font-size: xx-large;
    font-weight: bolder;
    margin: 2%;
    cursor: pointer;
    border-radius: 1rem;
}
button:hover{
    background-color: #0026c5;
    color: white;
    border-color: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0026c5;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 10px 0.5rem 2px rgba(0,0,0,0.41);
}

.logo {
    width: 13rem;
}
#nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}
#menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .5rem;
    position: fixed;
    width: auto;
    overflow-x: hidden;
    font-size: larger;
    right: 0%;
    left: auto;
    top: 10%;
    background: #0026c5;
    padding: .5rem;
    border-radius: 2rem;
    border: 5px inset #0026c5;
    visibility: hidden;
    height: 0;
    transition: 0.5s;
    overflow-y: hidden;
    justify-content: space-evenly;
    z-index: 1000;
}
#nav.active #menu{
    visibility: visible;
    height: 25%;
    transition: 1s;
}

#menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom:2px solid #88a0ffd8;
    
}
#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    position: fixed;
    right: 7%;
    top: 4%;
    z-index: 1000;
    
}
#hamburguer{
    border-top: 0.2rem solid;
    width: 2rem;
    color: rgb(5, 0, 60);
    box-sizing: border-box;
    transition: 1s;
}
#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 2rem;
    height: 0.2rem;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}
#nav.active #hamburguer{
    border-top-color: transparent;
}
#nav.active #hamburguer::before{
    transform: rotate(135deg);
    transition: 1s;
    color: black;
}
#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
    transition: 1s;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 1rem 0;
    width: fit-content;
}

main .apresentacao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
    align-items: center;
}

main .apresentacao img{
    width: 100vw;
    border-radius: 1rem;
}
main .apresentacao .texto-apresentacao{
    width: 100vw;
    text-align: justify;    
    box-sizing: border-box;
    padding: 2rem;
    border: 5px solid #0026c5;
    background: whitesmoke;
    color: #0026c5;
    border-radius: 1rem;
    border-inline: none;
    margin-top: 1rem;
    font-size: larger;
}
main .apresentacao .texto-apresentacao p{
    margin: 1rem 0;
}
main .trabalhos{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: #0026c5;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0rem ;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 00.5rem;
    border-top-left-radius: 00.5rem;
    border-top-right-radius: 2rem;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 9px 8px 15px 2px rgba(0,0,0,0.41);
    margin: 2rem;
}
.trabalhos h1{
    padding: 0 1rem;
}
.trabalhos img{
    width: 40px;
    padding-left: 1rem;
}
#rafael2{
    display: none;
}
.curso h1{
    padding: 0 1rem;
}
main .curso{
    display: flex;
    flex-direction: row;
    
    background-color: #0026c5;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 1rem 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 00.5rem;
    border-top-left-radius: 00.5rem;
    border-top-right-radius: 2rem;
    color: white;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 9px 8px 15px 2px rgba(0,0,0,0.41);
    justify-content: space-evenly;

}
main .curso img{
    width: 40px;
    padding: 0 0rem 0 0 ;
    margin-right: 0;
    padding-left: 1rem;
}
video{
    width: 100%;
    
    box-shadow: 2px 2px 15px 10px rgba(0,0,0,0.36)    ;
}
#material-curso{
    margin-inline: 1%;
    display: none;
    background-color: #0026c5;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 15px 10px rgba(0,0,0,0.36);
    animation: fadein 1s;
}
#material-curso h2{
    animation: fadein 3s;
}
#material-curso p{
    animation: fadein 5s;
    font-size: x-large;
}
.int-curso{
    align-self: flex-start;
    padding: 1rem 0;
}
.faceta{
    width: 100%;
    padding: 1rem 0;
}
main .local-title{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: #0026c5;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0.5rem 1.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 00.5rem;
    border-top-left-radius: 00.5rem;
    border-top-right-radius: 2rem;
    color: white;
    box-shadow: 9px 8px 15px 2px rgba(0,0,0,0.41);
    margin: 0 2rem 2rem 2rem;
    justify-content: space-between;
}
main .local-title img{
    width: 20px;
    padding: 0 0.5rem 0 0 ;
}
main .local{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    background-color: #0026c5;
    width: 100%;
    margin-inline: 1%;
    padding: 1rem;
    text-align: center;
}
main .local img{
    width: 100%;    
    border: 0.3rem inset  #0026c5;
    
}
.local p{
    color: white;
    font-size: x-large;
    padding: 1rem;
}
.local a{
    
    color: white;
    text-decoration: underline;

}


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0026c5;   
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem;
    width: 100%;
    align-content: center;
    align-items: center;
}
footer .contatos{
    color: white;
    padding: 0.5rem;
    font-weight: 400;
}
footer .sociais a{
    padding-left: 1rem;
}

footer .sociais a img:hover{
    border: 0.2rem solid white;
}
footer .sociais a img{
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}
.slider {
    display: block;
    height: 25rem;
    width: 100%;
    margin: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;

}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    border: 0.2rem inset #0027c5d8;
    
}
.slider input {
    display: none;
}
.slider label {
    background-color: rgb(255, 255, 255);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 50%;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    margin-left: 70px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}




@media screen and (min-width: 380px){
    .slider{
        height: 24rem;
    }
}
@media screen and (min-width: 450px){
    .slider{
        height: 26rem;
    }
}
@media screen and (min-width: 480px){
    .slider{
        height: 28rem;
    }
}
@media screen and (min-width: 510px){
    .slider{
        height: 29rem;
    }
}
@media screen and (min-width: 540px){
    .slider{
        height: 31rem;
    }
}
@media screen and (min-width: 570px){
    .slider{
        height: 33rem;
    }
}
@media screen and (min-width: 600px){
    .slider{
        height: 29rem;
        width: 80%;
    }
}
@media screen and (min-width: 670px){
    .slider{
        height: 32rem;
        width: 80%;
    }
}
@media screen and (min-width: 720px){
    .slider{
        height: 34rem;
        width: 80%;
    }
    main .local img{
        width: 70%;
    
    }
    #btn-mobile{
        display: none;
    }
    #menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.726);
    font-size: medium;
    padding: .5rem;
    top: 5%;
    left: auto;
    border-radius: 1rem;
    z-index: 100;
    width: auto;
    height: min-content;
    margin-right: 2%;
    visibility: visible;
    border-inline: none;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
    }
    #menu a{
        border: none;
        padding: 0.5rem;
        margin: 0;
        font-size: larger;
        width: 100%;
        color: black;
        
    }    

@media screen and (min-width: 760px){
    .slider{
        height: 36rem;
        width: 80%;
    }
    
}


@media screen and (min-width: 790px){
    .slider{
        height: 40rem;
        width: 80%;
    }
    main .local img{
        width: 50%;
    
    }
}
@media screen and (min-width: 850px){
    .slider{
        height: 42rem;
        width: 80%;
    }
    .faceta{
        width: 90%;
    }
    
}
@media screen and (min-width: 970px){
    .slider{
        height: 48rem;
        width: 80%;
    }
    footer{
        flex-direction: row;
    }
    .logo{
        margin-left: 5%;
    }
    nav{
        margin-right: 5%;
    }
    video{
        width: auto;
    }
    main .apresentacao img{
        width: 90vw;
        
    }
    main .apresentacao .texto-apresentacao{
        width: 95vw;
        
    }
}
@media screen and (min-width: 1050px){
    .slider{
        height: 45rem;
        width: 65%;
    }
    #material-curso{
        margin-inline: 5%;
    }
    #material-curso p{
        font-size: medium;
    }
    .local p{
        font-size: medium;
    }
    main .local img{
        width: 25%;
    }
    main .apresentacao .texto-apresentacao{
        width: 90vw;
        margin: 2rem;
    }
    #rafael1{
        display: none;
    }
    #rafael2{
        display: inline;
    }
   
}
@media screen and (min-width: 1170px){
    .slider{
        height: 45rem;
    }
}
@media screen and (min-width: 1230px){
    .slider{
        height: 50rem;
    }
    
}
@media screen and (min-width: 1300px){
    
}
@media screen and (min-width: 1380px){
    .slider{
        width: 40%;
        height: 35rem;
    }
    
}
@media screen and (min-width: 1470px){
    .faceta{
        width: 70%;
    }   
}
@media screen and (min-width: 1530px){
    .slider{
        height: 40rem;
    }
    
}
@media screen and (min-width: 1630px){
    .slider{
        height: 42rem;
    }
}
@media screen and (min-width: 1750px){
    .slider{
        height: 45rem;
        
    }
}
@media screen and (min-width: 1900px){
    .slider{
        height: 48rem;
    }
    main .apresentacao img{
        width: 85vw;
    }
}
@media screen and (min-width: 2100px){
    .slider{
        height: 53rem;
    }
    main .apresentacao .texto-apresentacao p{
        margin: 2rem 0; 
        
    }
}
@media screen and (min-width: 2250px){
    .slider{
        height: 58rem;
    }
    main .apresentacao .texto-apresentacao p{
        margin: 3rem 0; 
    }
}
@media screen and (min-width: 2450px){
    .slider{
        height: 60rem;
    }
}